* {
    box-sizing: border-box;
}

#allplaces div {
    margin: 1rem 8px;
    border: 1px solid #999;
    background-color: #eee;
    border-radius: 8px;
    overflow: hidden;

    display: grid;
    grid-template-areas:
        "title"
        "address"
        "image"
        "description"
    ;
}

#allplaces div h2 {
    margin: 1rem 10px;
    grid-area: "title";
}

#allplaces div img {
    width: 100%;
    grid-area: "image";
}

#allplaces div p {
    margin: 1rem 10px;
    grid-area: "description";
}

#allplaces div address {
    margin: 1rem 10px;
    grid-area: "address";
}